.main {
    max-width: 1000px;
    margin-left: auto ;
    margin-right: auto ;
}

.logo {
    float: left;
    width: 180px;
    height: 100px;
    padding: 5px;
    background-image: url("http://placehold.it/190x100");
}

.head {
    float: left;
    width: 780px;
    height: 100px;
    padding: 5px;
}

.block {
    width: 990px;
    padding: 5px;
}

.menu {
    float: left;
    width: 180px;
    padding: 5px;
}

.cont {
    float: left;
    width: 780px;
    padding: 5px;
}

footer {
    text-align: center;
    clear: left;
}

a {
    text-decoration: none;
    color: black;
}

.tw {
    text-align: justify;
}

.tagline {
    margin-bottom: 0px;
    margin-top: 0px;
    display:block;
    position:absolute;
    text-align: right;
    left:0;
    bottom:0;
    width:100%;
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
    padding-bottom:10px;
    background-color:rgba(0,0,0,.3);

}

.block_tag {
    display:inline-block;
    position:relative;
}

.leftimg {
    float: left;
    padding-right: 10px;
}

.rigntimg {
    float: right;
    padding-left: 10px;
}